#calculator-container {
    background-color: #21213f;
    border-radius: 10px;
    width: 200px;
    height: 320px;
}

#display-box {
    background-color: white;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: inset ;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
    color: black;
}

button {
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 1px;
    margin-bottom: 4px;
    background-color: #555555;
    color: #FFFFFF;
}

#pad {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button-operators,
#button-digits {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-operators {
    margin-left: 3px;
}

#operator-divide, 
#operator-multiply, 
#operator-add, 
#operator-subtract,
#operator-equals {
    background-color: #ffae67;
    color: #FFFFFF;
}
button:hover,
#operator-divide:hover, 
#operator-multiply:hover, 
#operator-add:hover, 
#operator-subtract:hover,
#operator-equals:hover,
#button-clear:hover,
#button-backspace:hover {
    background-color: #ADD8E6;
}

#button-clear,
#button-backspace {
    background-color: #9c9c9c;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align children horizontally */
}

#pad-with-clear {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space elements apart */
    align-items: center; /* Align children vertically */
}

#pad {
    display: flex;
}

#button-clear {
    width: 86px;
}

#digit-0 {
    width: 86px;
}